body {
    background-color: white;
    font-family: arial, sans-serif;
    font-size: 11pt;
    line-height: 1.5em;
}

div#header {
    width: 100%;
}

div#header-top {
    width: 1024px;
    margin: auto;
}

div#header-top-left {
    float: left;
    width: 60%;
    margin: 1em auto 1em auto;
}

img#logo-img {
    float: left;
    border: none;
    height: 80px;
}

div#nav-bar {
    float: left;
    margin: auto auto 0.5em 2em;
}

li.nav-top-item, li.nav-top-item-inverted {
    display: inline;
    font-size: 13pt;
    font-weight: bold;
    padding: 0.5em;
    margin-right: 1em;
}

li.nav-top-item-inverted {
    background-color: #272f58;
    color: white;
}

ul#sec-1-sub, ul#sec-2-sub {
    display: none;
    list-style: none;
}

div#header-top-right {
    float: right;
    display: inline;
    width: 38%;
    text-align: right;
    margin: 1em auto 0.5em -41%;
    font-size: 12pt;
    font-weight: bold;
}

div#header-bottom {
    background-color: #272f58;
    color: white;
    width: 100%;
    padding: 0.5em;
}

div#header-bottom-limited {
    width: 1024px;
    margin: auto;
}

div#header-bottom-links {
    float: left;
    width: 60%;
}

div#header-bottom-search {
    float: right;
    width: 38%;
    margin: auto 1em auto -39%;
}

div#middle {
    width: 1024px;
    margin: 50px auto auto auto;
}

div#middle-media-grid {
    width: 100%;
    margin: auto;
}

div.media-item-left {
    width: 300px;
    height: 300px;
    float: left;
    margin: auto 60px 20px auto;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
}

div.media-item-right {
    width: 300px;
    height: 300px;
    margin: auto 0 20px -301px;
    float: right;
    border: 1px solid gray;
}

p.media-item-p {
    padding: 0.5em;
}

div#tabbed {
    width: 100%;
    margin: 50px auto auto auto;
}

div.tab, div.tab-selected{
    font-size: 12pt;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 0 1em 0 0;
    text-align: center;
    width: 5em;
    background-color: #d9d9d9;
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    cursor: pointer;
}

div.tab-selected {
    background-color: #272f58;
    color: white;
}

div.tab-content {
    border: 1px solid gray;
    width: 100%;
    text-align: center;
    padding: 1em 0 1em 0;
    background-color: #d9d9d9;
}

div#tab-content4, div#tab-content2, div#tab-content3 {
    display: none;
}

div#pre-button, div#next-button {
    float: left;
    width: 23px;
    height: 23px;
    border: 1px solid gray;
    border-radius: 50%;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
    margin: 225px auto auto auto;
    background-color: #272f58;
    color: white;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

div#pre-button {
    margin-left: 100px;
}

img.carousel-hidden, img.carousel-shown {
    float: left;
    width: 768px;
    height: 480px;
    box-shadow: 2px 2px 2px gray;
    margin: auto 10px auto 10px;
}

img.carousel-hidden {
    display: none;
}


div#fluid-text {
    margin: 2em auto 2em auto;
    
}

div#to-be-shown-col1, div#to-be-shown-col2 {
    width: 490px;
    text-align: justify;
    display: none;
}

div#to-be-shown-col1 {
    float: left;
}

div#to-be-shown-col2 {
    float: right;
}

div#footer {
    display: none;
    width: 100%;
    text-align: center;
    background-color: #272f58;
    color: white;
    font-size: 10pt;
    height: 40px;
    position: fixed;
    left: 0;
    top:500px;
}

a {
    text-decoration: none;
    color: inherit;
}

div.blank {
    clear: both;
}